/*Inicio de media queri*/
@media screen and (min-width:375px) {
    .video-es{
        height: 190px;
    }
    .video-de{
        height: 190px;
    }
    .video-noti{
        height: 200px;
    }

}
@media screen and (min-width:425px) {
    .video-es{
        height: 250px;
    }
    .video-de{
        height: 250px;
    }
    .video-noti{
        height: 230px;
    }

}
@media screen and (min-width:580px) {
    .video-es{
        height: 340px;
    }
    .video-de{
        height: 340px;
    }

}
@media screen and (min-width:768px) {
    .grid-video{
        display: grid;
        grid-template-areas: 
        "titulo-d titulo-e"
        "video-d video-e"
        ;
     }
    .video-es{
        height: 230px;
    }
    .video-de{
        height: 230px;
    }
    .video-noti{
        height: 370px;
    }
    .Footer-grid{
        display: grid;
        grid-template-areas: 
        "f-top f-form f-con"
    }

    .gird-cont-2{
        display: grid;
        grid-template-areas: 
        "titulo-cont-2"
        "cont-a cont-b cont-c"
        ;
     }
     .cont-c{
        grid-area: cont-c;
        display: block;
    }
    
     
}
.flex-n{
 display: flex;
}
@media screen and (min-width:1024px) {
    .video-es{
        height: 300px;
    }
    .video-de{
        height: 300px;
    }
    .grid-cont-index{
        display: grid;
        grid-template-areas: 
        "titulo-md cont-md"
        "titulo-n cont-n"
        "titulo-es cont-es"
        ;
     }
}
@media screen and (min-width:1440px) {
    .video-es{
        height: 370px;
    }
    .video-de{
        height: 370px;
    }
}
/*Fin de media queri*/